.banner {
    width: 100%;
    background:
        image-set(
            url("./../../img/bg-banner.jpg") 1x,
            url("./../../img/bg-banner@2x.jpg") 2x
            )
    no-repeat;
    background-size: cover;
    background-color: rgba(40, 40, 40, 0.7);
    background-blend-mode: multiply;
}

.container_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 47px;
    padding-right: 32px;
    min-height: 197px;
    max-width: 1129px;

    @include _1170 {
        padding: 0 vw(47);
        padding-right: vw(32);
        min-height: vw(197);
        max-width: vw(1129);
    }

    @include _768 {
        padding-right: vw2(46);
        padding-left: vw2(50);
        min-height: vw2(106);
        max-width: vw2(675);
    }

    @include _375 {
        display: none;
    }
}

.banner__section-title {
    color: $white-main;

    @include _768 {
        padding-bottom: vw2(4);
    }
}

.banner__button {
    margin-bottom: 2px;

    @include _1170 {
        margin-bottom: vw(2);
    }

    @include _768 {
        margin-bottom: vw2(2);
    }
}