.designer {
    width: 100%;
    background-color: $background-dark;
}

.container_designer {
    display: flex;
    align-items: center;
    padding: 2px 47px;

    @include _1170 {
        padding: vw(2) vw(47);
    }

    @include _768 {
        padding: vw2(2) vw2(47);
    }

    @include _375 {
        flex-direction: column;
        padding: vmin(2) vmin(47);
    }
}

.designer__section-title {
    font-size: 25px !important;
    text-align: center;
    color: $white-main;

    @include _1170 {
        font-size: vw(25) !important;
    }

    @include _768 {
        font-size: vw2(25) !important;
    }

    @include _375 {
        padding-bottom: vmin(5);
        font-size: vmin(15) !important;
    }
}

.section-title_yellow {
    color: $yellow-main;
}

.designer__social-links {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    width: 130px;

    @include _1170 {
        padding-left: vw(25);
        width: vw(150);
    }

    @include _768 {
        padding-left: vw2(25);
        width: vw2(150);
    }

    @include _375 {
        padding-left: vmin(25);
        padding-bottom: vmin(10);
        width: vmin(150);
    }
}

.designer__social-links-item {
    list-style: none;
}

.designer__socilal-link {
    display: inline-block;
    width: 25px;
    height: 25px;

    @include _1170 {
        width: vw(25);
        height: vw(25);
    }

    @include _768 {
        width: vw2(25);
        height: vw2(25);
    }

    @include _375 {
        width: vmin(25);
        height: vmin(25);
    }
}

.social-link-behance {
    fill: #0057FF;
}

.social-link-linkedin {
    fill: #0A66C2;
}

.social-link-telegram {
    fill: #32AFED;
}