@charset "UTF-8";
@font-face {
  src: url("../fonts/cormorantgaramondBold.woff2") format("woff2"), url("../fonts/cormorantgaramondBold.woff") format("woff");
  font-family: "Сormorant Garamond";
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/gilroythin.woff2") format("woff2"), url("../fonts/gilroythin.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/gilroyultralight.woff2") format("woff2"), url("../fonts/gilroyultralight.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/gilroyRegular.woff2") format("woff2"), url("../fonts/gilroyRegular.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/gilroymedium.woff2") format("woff2"), url("../fonts/gilroymedium.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/gilroysemibold.woff2") format("woff2"), url("../fonts/gilroysemibold.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/gilroybold.woff2") format("woff2"), url("../fonts/gilroybold.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/podkovaRegular.woff2") format("woff2"), url("../fonts/podkovaRegular.woff") format("woff");
  font-family: "Podkova";
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/podkovaSemibold.woff2") format("woff2"), url("../fonts/podkovaSemibold.woff") format("woff");
  font-family: "Podkova";
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/robotoLight.woff2") format("woff2"), url("../fonts/robotoLight.woff") format("woff");
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/robotoRegular.woff2") format("woff2"), url("../fonts/robotoRegular.woff") format("woff");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

/* * {
    outline: 1px solid #000;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1130px; }

.logo {
  width: 81px;
  height: 27px; }
  @media (max-width: 1170px) {
    .logo {
      width: 6.92308vw;
      height: 2.30769vw; } }
  @media (max-width: 768px) {
    .logo {
      width: 8.33333vw;
      height: 2.60417vw; } }
  @media (max-width: 375px) {
    .logo {
      position: absolute;
      left: 50%;
      width: 17.06667vmin;
      height: 5.33333vmin;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); } }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.svg {
  display: block;
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit; }

.button {
  border: 0;
  padding: 0;
  cursor: pointer; }

.button_primary {
  border: 1px solid #EDC311;
  border-radius: 40px;
  padding: 16px 35px;
  font-weight: 700;
  font-size: 20px;
  color: #FFF;
  background-color: #EDC311;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button_primary:hover {
    color: #EDC311;
    background-color: #FFF; }
  .button_primary:active {
    color: #EDC311;
    background-color: #FFF; }

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px 1px 1px 1px); }

.page-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent; }

.container_page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 4.01709vw; }
  @media (max-width: 768px) {
    .container_page-header {
      padding: 0 6.11979vw; } }
  @media (max-width: 375px) {
    .container_page-header {
      padding-right: 6.13333vmin;
      padding-left: 4vmin;
      min-height: 16.8vmin; } }

.burger-button {
  display: none; }
  @media (max-width: 375px) {
    .burger-button {
      display: inline-block;
      width: 8.53333vmin;
      height: 5.86667vmin;
      background-color: transparent; } }

.page-header__theme-switch {
  margin-right: 35px;
  margin-left: auto;
  border: 0;
  width: 40px;
  height: 40px;
  background: url("./../../img/day.svg") no-repeat center;
  background-size: contain; }
  @media (max-width: 1170px) {
    .page-header__theme-switch {
      margin-right: 2.99145vw;
      width: 3.4188vw;
      height: 3.4188vw; } }
  @media (max-width: 768px) {
    .page-header__theme-switch {
      width: 5.20833vw;
      height: 5.20833vw; } }
  @media (max-width: 375px) {
    .page-header__theme-switch {
      margin-left: auto;
      width: 6.66667vmin;
      height: 6.66667vmin; } }

.nav {
  width: 100%;
  max-width: 684px; }
  @media (max-width: 1170px) {
    .nav {
      max-width: 58.46154vw; } }
  @media (max-width: 768px) {
    .nav {
      max-width: 60.41667vw; } }

@media (max-width: 375px) {
  .page-header-nav {
    position: fixed;
    left: -200vw;
    top: 0;
    z-index: 10;
    height: 100vh;
    max-width: 100%;
    background-color: #FFF;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .page-header-nav_open {
      left: 0; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

@media (max-width: 375px) {
  .page-header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5.33333vmin;
    width: 89vw;
    height: 106.66667vmin; } }

.scroll-hidden {
  overflow: hidden;
  max-height: 100vh; }

.nav__list-item {
  padding: 37px 0; }
  @media (max-width: 1170px) {
    .nav__list-item {
      padding: 3.16239vw 0; } }
  @media (max-width: 768px) {
    .nav__list-item {
      padding: 3.51563vw 0; } }

.nav__list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #FFF; }
  .nav__list-link:visited {
    text-shadow: 1px 0 0 currentColor; }
  .nav__list-link:hover {
    text-shadow: 1px 0 0 #EDC311;
    color: #EDC311; }
  @media (max-width: 1170px) {
    .nav__list-link {
      font-size: 1.36752vw;
      line-height: 1.36752vw; } }
  @media (max-width: 768px) {
    .nav__list-link {
      font-size: 1.5625vw;
      line-height: 1.5625vw; } }
  @media (max-width: 375px) {
    .nav__list-link {
      font-size: 5.33333vmin;
      line-height: 5.33333vmin;
      color: #000; } }

.page-header-nav__close-button {
  display: none; }
  @media (max-width: 375px) {
    .page-header-nav__close-button {
      position: absolute;
      right: 5.33333vmin;
      top: 5.33333vmin;
      z-index: 10;
      display: inline-block;
      width: 8vmin;
      height: 8vmin;
      background-color: transparent; } }

.page-header__phone {
  display: none; }
  @media (max-width: 375px) {
    .page-header__phone {
      display: inline-block;
      width: 6.4vmin;
      height: 6.4vmin;
      background: transparent; } }

.hero {
  width: 100%;
  min-height: 850px;
  background: -webkit-image-set(url("./../../img/hero@2x.jpg") 2x, url("./../../img/hero.jpg") 1x) center no-repeat;
  background: image-set(url("./../../img/hero@2x.jpg") 2x, url("./../../img/hero.jpg") 1x) center no-repeat;
  background-size: cover;
  background-color: rgba(40, 40, 40, 0.4);
  background-blend-mode: multiply; }
  @media (max-width: 1170px) {
    .hero {
      min-height: 72.64957vw; } }
  @media (max-width: 768px) {
    .hero {
      min-height: 73.95833vw; } }
  @media (max-width: 375px) {
    .hero {
      min-height: 172.8vmin; } }

.container_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 25px;
  max-width: 1139px; }
  @media (max-width: 1170px) {
    .container_hero {
      padding-left: 2.13675vw;
      max-width: 97.35043vw; } }
  @media (max-width: 768px) {
    .container_hero {
      padding: 0 1.95313vw;
      max-width: 75vw; } }
  @media (max-width: 375px) {
    .container_hero {
      padding: 0 4vmin;
      max-width: 80vmin; } }

/* .hero__top-wrapper-start */
.hero__top-wrapper {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  margin-top: 210px;
  min-height: 278px; }
  @media (max-width: 1170px) {
    .hero__top-wrapper {
      margin-top: 18.03419vw;
      min-height: 23.76068vw; } }
  @media (max-width: 768px) {
    .hero__top-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 21.22396vw;
      min-height: 24.73958vw; } }
  @media (max-width: 375px) {
    .hero__top-wrapper {
      margin-top: 36.53333vmin;
      min-height: 76.53333vmin; } }

@media (max-width: 768px) {
  .hero__left-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.hero__title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 30px;
  max-width: 987px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #FFF; }
  @media (max-width: 1170px) {
    .hero__title {
      padding-top: 2.39316vw;
      padding-bottom: 2.5641vw;
      max-width: 84.35897vw;
      font-size: 5.12821vw;
      line-height: 5.12821vw; } }
  @media (max-width: 768px) {
    .hero__title {
      padding-top: 0;
      padding-bottom: 2.73438vw;
      max-width: 75vw;
      font-size: 4.55729vw;
      line-height: 5.20833vw; } }
  @media (max-width: 375px) {
    .hero__title {
      padding-bottom: 4.53333vmin;
      max-width: 74.4vmin;
      font-size: 10.66667vmin;
      line-height: 10.66667vmin; } }

.hero__text {
  margin: 0;
  padding-bottom: 42px;
  max-width: 424px;
  font-size: 20px;
  line-height: 30px;
  text-shadow: 1px 0 0 #000;
  color: #FFF; }
  @media (max-width: 1170px) {
    .hero__text {
      padding-bottom: 3.50427vw;
      max-width: 36.23932vw;
      font-size: 1.7094vw;
      line-height: 2.5641vw; } }
  @media (max-width: 768px) {
    .hero__text {
      padding-bottom: 3.77604vw;
      max-width: 55.20833vw;
      font-size: 2.08333vw;
      line-height: 3.25521vw;
      text-align: center; } }
  @media (max-width: 375px) {
    .hero__text {
      padding-bottom: 6.13333vmin;
      max-width: 113.06667vmin;
      font-size: 4.26667vmin;
      line-height: 6.66667vmin; } }

@media (max-width: 1170px) {
  .hero__button {
    border-radius: 3.4188vw;
    padding: 1.36752vw 2.99145vw;
    font-size: 1.7094vw; } }

@media (max-width: 768px) {
  .hero__button {
    padding: 2.21354vw 4.55729vw;
    font-size: 2.08333vw; } }

@media (max-width: 375px) {
  .hero__button {
    border-radius: 10.66667vmin;
    padding: 4.53333vmin 9.33333vmin;
    font-size: 4.26667vmin; } }

.hero__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 20px; }
  @media (max-width: 1170px) {
    .hero__social-links {
      max-width: 1.7094vw; } }
  @media (max-width: 768px) {
    .hero__social-links {
      display: none; } }

.hero__social-link {
  display: inline-block;
  width: 16.67px;
  height: 16.67px; }
  @media (max-width: 1170px) {
    .hero__social-link {
      width: 1.42479vw;
      height: 1.42479vw; } }

.hero__social-dec-element {
  display: inline-block;
  margin: 11.67px 0;
  width: 1px;
  height: 20px;
  background-color: #FFF; }
  .hero__social-dec-element:first-of-type {
    margin-top: 0;
    height: 40px; }
  .hero__social-dec-element:last-of-type {
    margin-bottom: 0;
    height: 40px; }
  @media (max-width: 1170px) {
    .hero__social-dec-element {
      margin: 0.99744vw 0;
      width: 0.08547vw;
      height: 1.7094vw; }
      .hero__social-dec-element:first-of-type {
        height: 3.4188vw; }
      .hero__social-dec-element:last-of-type {
        height: 3.4188vw; } }

/* .hero__top-wrapper-end */
/* hero__bottom-wrapper-start */
.hero__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 138px; }
  @media (max-width: 1170px) {
    .hero__bottom-wrapper {
      padding-top: 11.62393vw; } }
  @media (max-width: 768px) {
    .hero__bottom-wrapper {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 11.84896vw; } }
  @media (max-width: 375px) {
    .hero__bottom-wrapper {
      padding-top: 26.93333vmin; } }

.hero__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 18px;
  width: 100%;
  max-width: 507px; }
  @media (max-width: 1170px) {
    .hero__cards {
      padding-right: 1.28205vw;
      max-width: 43.50427vw; } }
  @media (max-width: 768px) {
    .hero__cards {
      -ms-flex-item-align: center;
      align-self: center;
      padding-right: 2.34375vw;
      padding-bottom: 4.81771vw;
      max-width: 66.01563vw; } }
  @media (max-width: 375px) {
    .hero__cards {
      padding-right: 0;
      padding-bottom: 4vmin;
      max-width: 81.6vmin; } }

.hero__address-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 85px;
  max-width: 172px; }
  @media (max-width: 1170px) {
    .hero__address-card {
      min-height: 7.26496vw;
      max-width: 14.70085vw; } }
  @media (max-width: 768px) {
    .hero__address-card {
      min-height: 11.06771vw;
      max-width: 22.39583vw; } }
  @media (max-width: 375px) {
    .hero__address-card {
      min-height: 22.66667vmin;
      max-width: 32vmin; } }

.hero__card-pin {
  width: 22.5px;
  height: 27.16px; }
  @media (max-width: 1170px) {
    .hero__card-pin {
      width: 1.92308vw;
      height: 2.32137vw; } }
  @media (max-width: 768px) {
    .hero__card-pin {
      width: 2.92969vw;
      height: 3.53646vw; } }
  @media (max-width: 375px) {
    .hero__card-pin {
      width: 6vmin;
      height: 7.24267vmin; } }

.hero__card-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFF; }
  @media (max-width: 1170px) {
    .hero__card-text {
      font-size: 1.36752vw;
      line-height: 1.62393vw; } }
  @media (max-width: 768px) {
    .hero__card-text {
      font-size: 2.08333vw;
      line-height: 2.47396vw; } }
  @media (max-width: 375px) {
    .hero__card-text {
      font-size: 4.26667vmin;
      line-height: 5.06667vmin; } }

.card-text-br {
  display: none; }
  @media (max-width: 375px) {
    .card-text-br {
      display: inline; } }

@media (max-width: 375px) {
  .hero__desktop-text {
    display: none; } }

.hero__work-time-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 85px;
  max-width: 110px; }
  @media (max-width: 1170px) {
    .hero__work-time-card {
      min-height: 7.26496vw;
      max-width: 9.40171vw; } }
  @media (max-width: 768px) {
    .hero__work-time-card {
      min-height: 11.06771vw;
      max-width: 14.32292vw; } }
  @media (max-width: 375px) {
    .hero__work-time-card {
      min-height: 22.66667vmin;
      max-width: 29.33333vmin; } }

.hero__card-clock {
  width: 25px;
  height: 25px; }
  @media (max-width: 1170px) {
    .hero__card-clock {
      width: 2.13675vw;
      height: 2.13675vw; } }
  @media (max-width: 768px) {
    .hero__card-clock {
      width: 3.25521vw;
      height: 3.25521vw; } }
  @media (max-width: 375px) {
    .hero__card-clock {
      width: 6.66667vmin;
      height: 6.66667vmin; } }

.hero__tel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 85px;
  max-width: 125px; }
  @media (max-width: 1170px) {
    .hero__tel-card {
      min-height: 7.26496vw;
      max-width: 10.68376vw; } }
  @media (max-width: 768px) {
    .hero__tel-card {
      min-height: 11.06771vw;
      max-width: 16.27604vw; } }
  @media (max-width: 375px) {
    .hero__tel-card {
      display: none; } }

.hero__card-phone {
  margin-top: 2px;
  width: 22.5px;
  height: 22.5px; }
  @media (max-width: 1170px) {
    .hero__card-phone {
      margin-top: 0.17094vw;
      width: 1.92308vw;
      height: 1.92308vw; } }
  @media (max-width: 768px) {
    .hero__card-phone {
      margin-top: 0.26042vw;
      width: 2.92969vw;
      height: 2.92969vw; } }

.hero__card-tel-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero__card-tel-number {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #FFF; }
  @media (max-width: 1170px) {
    .hero__card-tel-number {
      font-size: 1.36752vw;
      line-height: 1.62393vw; } }
  @media (max-width: 768px) {
    .hero__card-tel-number {
      font-size: 2.08333vw;
      line-height: 2.47396vw; } }

.hero__arrow {
  margin-top: 68px;
  margin-bottom: 31px;
  margin-left: 20px;
  width: 18px;
  height: 40px;
  -webkit-animation: arrow-animation 6s ease infinite;
  animation: arrow-animation 6s ease infinite; }
  @media (max-width: 1170px) {
    .hero__arrow {
      margin-top: 5.98291vw;
      margin-bottom: 2.64957vw;
      margin-left: 1.7094vw;
      width: 1.53846vw;
      height: 3.4188vw; } }
  @media (max-width: 768px) {
    .hero__arrow {
      display: none; } }

@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  15% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    @media (max-width: 1170px) {
      -webkit-transform: translate(0, 0.8547vw);
      transform: translate(0, 0.8547vw); } }
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    @media (max-width: 1170px) {
      -webkit-transform: translate(0, 0.8547vw);
      transform: translate(0, 0.8547vw); } }
  35% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes arrow-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  15% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    @media (max-width: 1170px) {
      -webkit-transform: translate(0, 0.8547vw);
      transform: translate(0, 0.8547vw); } }
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    @media (max-width: 1170px) {
      -webkit-transform: translate(0, 0.8547vw);
      transform: translate(0, 0.8547vw); } }
  35% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

.hero__arrow-mobile {
  display: none; }
  @media (max-width: 375px) {
    .hero__arrow-mobile {
      display: inline-block;
      margin-bottom: 2.93333vmin;
      width: 7.73333vmin;
      height: 2.66667vmin; } }

/* hero__bottom-wrapper-end */

/*# sourceMappingURL=main.css.map */
