.logo {
    @include _1170 {
        width: vw(81);
        height: vw(27);
    }

    @include _768 {
        width: vw2(64);
        height: vw2(20);
    }

    @include _375 {
        position: absolute;
        left: 50%;
        width: vmin(64);
        height: vmin(20);
        transform: translate(-50%, 0);
    }
}

.section-title {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;

    @include _1170 {
        font-size: vw(60);
        line-height: vw(60);
    }

    @include _768 {
        font-size: vw2(30);
        line-height: vw2(50);
    }

    @include _375 {
        font-weight: 700;
        font-size: vmin(30);
        line-height: vmin(50);
    }
}

.section-number {
    @include _1170 {
        font-size: vw(70);
    }

    @include _768 {
        display: none;
    }
}

.swiper-pagination {
    @include _1170 {
        width: vw(70);
        font-size: vw(35);
    }

    @include _768 {
        width: vw2(60);
        font-size: vw2(28);
    }
}

.swiper-pagination-current {
    @include _1170 {
        font-size: vw(45);
    }

    @include _768 {
        font-size: vw2(28);
    }
}

.swiper-pagination-total {
    @include _1170 {
        font-size: vw(35);
    }

    @include _768 {
        font-size: vw2(18);
    }
}

.swiper-button-prev {
    @include _1170 {
        width: vw(40);
        height: vw(18);
    }

    @include _768 {
        width: vw2(24);
        height: vw2(28);
    }
}

.swiper-button-next {
    @include _1170 {
        width: vw(40);
        height: vw(18);
    }

    @include _768 {
        width: vw2(24);
        height: vw2(28);
    }
}

/* form-start */

.form__label-name {
    padding-bottom: 11px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;

    @include _1440 {
        padding-bottom: vw1440(11);
        padding-left: vw1440(30);
        font-size: vw1440(24);
        line-height: vw1440(25);
    }

    @include _768 {
        padding-bottom: vw2(11);
        padding-left: vw2(30);
        font-size: vw2(22);
        line-height: vw2(25);
    }

    @include _375 {
        padding-bottom: vmin(11);
        padding-left: vmin(30);
        font-size: vmin(20);
        line-height: vmin(25);
    }
}

.form__input-name {
    border: 1px solid $grey5;
    border-radius: 40px;
    padding: 11px 27px 12px;
    font-size: 18px;
    line-height: 30px;
    color: $black-main;
    background-color: $grey2;

    &::placeholder {
        font-style: italic;
		font-size: 18px;
        line-height: 30px;
		color: $grey5;

        @include _1440 {
            font-size: vw1440(18);
            line-height: vw1440(30);
        }

        @include _768 {
            font-size: vw2(16);
            line-height: vw2(30);
        }

        @include _375 {
            font-size: vmin(16);
            line-height: vmin(30);
        }
	}

    &:hover,
    &:active,
    &:focus {
        outline: 1px solid $grey5;
    }

    @include _1440 {
        border: vw1440(1) solid $grey5;
        border-radius: vw1440(40);
        padding: vw1440(11) vw1440(27) vw1440(12);
        font-size: vw1440(18);
        line-height: vw1440(30);
    }

    @include _768 {
        border: vw2(1) solid $grey5;
        border-radius: vw2(40);
        padding: vw2(11) vw2(27) vw2(12);
        font-size: vw2(18);
        line-height: vw2(30);
    }

    @include _375 {
        border: vmin(1) solid $grey5;
        border-radius: vmin(40);
        padding: vmin(11) vmin(27) vmin(12);
        font-size: vmin(16);
        line-height: vmin(30);
    }
}

.form__label-tel {
    padding-bottom: 11px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: $yellow-main;

    @include _1440 {
        padding-bottom: vw1440(11);
        padding-left: vw1440(30);
        font-size: vw1440(24);
        line-height: vw1440(25);
    }

    @include _768 {
        padding-bottom: vw2(11);
        padding-left: vw2(30);
        font-size: vw2(22);
        line-height: vw2(25);
    }

    @include _375 {
        padding-bottom: vmin(11);
        padding-left: vmin(30);
        font-size: vmin(20);
        line-height: vmin(25);
    }
}

.form__input-tel {
    border: 1px solid $grey5;
    border-radius: 40px;
    padding: 11px 27px 12px;
    font-size: 18px;
    line-height: 30px;
    color: $black-main;
    background-color: $grey2;

    &::placeholder {
        font-style: italic;
		font-size: 18px;
        line-height: 30px;
		color: $grey5;

        @include _1440 {
            font-size: vw1440(18);
            line-height: vw1440(30);
        }

        @include _768 {
            font-size: vw2(16);
            line-height: vw2(30);
        }

        @include _375 {
            font-size: vmin(16);
            line-height: vmin(30);
        }
	}

    &:hover,
    &:active,
    &:focus {
        outline: 1px solid $grey5;
    }

    @include _1440 {
        border: vw1440(1) solid $grey5;
        border-radius: vw1440(40);
        padding: vw1440(11) vw1440(27) vw1440(12);
        font-size: vw1440(18);
        line-height: vw1440(30);
    }

    @include _768 {
        border: vw2(1) solid $grey5;
        border-radius: vw2(40);
        padding: vw2(11) vw2(27) vw2(12);
        font-size: vw2(18);
        line-height: vw2(30);
    }

    @include _375 {
        border: vmin(1) solid $grey5;
        border-radius: vmin(40);
        padding: vmin(11) vmin(27) vmin(12);
        font-size: vmin(16);
        line-height: vmin(30);
    }
}

.form__label-text {
    padding-bottom: 11px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: $yellow-main;

    @include _1440 {
        padding-bottom: vw1440(11);
        padding-left: vw1440(30);
        font-size: vw1440(24);
        line-height: vw1440(25);
    }

    @include _768 {
        padding-bottom: vw2(11);
        padding-left: vw2(30);
        font-size: vw2(22);
        line-height: vw2(25);
    }

    @include _375 {
        padding-bottom: vmin(11);
        padding-left: vmin(30);
        font-size: vmin(20);
        line-height: vmin(25);
    }
}

.form__textarea-text {
    border: 1px solid $grey5;
    border-radius: 10px;
    padding: 11px 27px 12px;
    font-size: 18px;
    line-height: 30px;
    color: $black-main;
    background-color: $grey2;
    resize: none;

    &::placeholder {
        font-style: italic;
		font-size: 18px;
        line-height: 30px;
		color: $grey5;

        @include _1440 {
            font-size: vw1440(18);
            line-height: vw1440(30);
        }

        @include _768 {
            font-size: vw2(16);
            line-height: vw2(30);
        }

        @include _375 {
            font-size: vmin(16);
            line-height: vmin(30);
        }
	}

    &:hover,
    &:active,
    &:focus {
        outline: 1px solid $grey5;
    }

    @include _1440 {
        border: vw1440(1) solid $grey5;
        border-radius: vw1440(10);
        padding: vw1440(11) vw1440(27) vw1440(12);
        font-size: vw1440(18);
        line-height: vw1440(30);
    }

    @include _768 {
        border: vw2(1) solid $grey5;
        border-radius: vw2(10);
        padding: vw2(11) vw2(27) vw2(12);
        font-size: vw2(18);
        line-height: vw2(30);
    }

    @include _375 {
        border: vmin(1) solid $grey5;
        border-radius: vmin(10);
        padding: vmin(11) vmin(27) vmin(12);
        font-size: vmin(16);
        line-height: vmin(30);
    }
}

.is-label-invalid {
    @include _1170 {
        font-size: vw(18);
        line-height: vw(30);
    }

    @include _768 {
        font-size: vw2(18);
        line-height: vw2(30);
    }

    @include _375 {
        font-size: vmin(18);
        line-height: vmin(30);
    }
}

/* form-end */