$yellow-main: #EDC311;
$white-main:  #FFF;
$grey-main: #CFCFCF;
$black-main: #000;
$grey1: #ACACAC;
$grey2: #F7F7F7;
$grey3: #C4C4C4;
$grey4: #767676;
$grey5: #ABABAB;
$background-dark: #0E1720;
$error-color: #EC5210;
