@import "vars";
@import "mixins";
@import "functions";
@import "fonts";

/* hide-alt-img-start */

img:not([src]):not([srcset]) {
    visibility: hidden;
}

/* hide-alt-img-end */

/* * {
    outline: 1px solid #000;
} */

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1130px;
}

/* back-to-top-button-start */

.back-to-top-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 2px;
    width: 80px;
    height: 80px;
    font-size: 46px;
    line-height: 30px;
    color: $white-main;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateX(150px);
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    @include dark {
        filter: invert(1);
    }
}

.back-to-top-btn-show {
    opacity: 0.5;
    visibility: visible;
    transform: translateX(0);

    @include dark {
        opacity: 0.5;
    }
}

/* back-to-top-button-end */

.logo {
    width: 81px;
    height: 27px;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.svg {
    display: block;
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
}

.button {
    border: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.button_primary {
    border: 1px solid $yellow-main;
    border-radius: 40px;
    padding: 16px 35px;
    font-weight: 700;
    font-size: 20px;
    color: $white-main;
    background-color: $yellow-main;
    transition: all 0.3s ease;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
        color: $yellow-main;
        background-color: $white-main;
    }

    @include _1170 {
        border-radius: vw(40);
        padding: vw(16) vw(35);
        font-size: vw(20);
    }

    @include _768 {
        padding: vw2(17) vw2(35);
        font-size: vw2(16);
    }

    @include _375 {
        border-radius: vmin(40);
        padding: vmin(17) vmin(35);
        font-size: vmin(16);
    }
}

.section-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
}

.section-number {
    font-weight: 400;
    font-size: 70px;
    color: $grey-main;
}

.swiper > * {
    box-sizing: border-box;
}

.swiper-slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: static;
    width: 70px;
    font-weight: 400;
    font-size: 35px;
    color: $grey-main;
}

.swiper-pagination-current {
    font-weight: 400;
    font-size: 45px;
    color: $yellow-main;
}

.swiper-pagination-total {
    font-size: 35px;
}

.swiper-button-prev {
    display: inline-block;
    border: 0;
    padding: 0;
    width: 40px;
    height: 18px;
    background: transparent;

    &::after {
        content: none;
    }
}

.swiper-button-next {
    display: inline-block;
    border: 0;
    padding: 0;
    width: 40px;
    height: 18px;
    background: transparent;

    &::after {
        content: none;
    }
}

/* form-start */

.form__label-name {
    padding-bottom: 11px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: $yellow-main;
}

.form__input-name {
    -webkit-appearance: none;
    margin-bottom: 39px;
    border: 1px solid $grey5;
    border-radius: 40px;
    padding: 11px 27px 12px;
    font-size: 18px;
    line-height: 30px;
    color: $black-main;
    background-color: $grey2;

    &::placeholder {
        font-style: italic;
		font-size: 18px;
        line-height: 30px;
		color: $grey5;
	}

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 0 1px $grey5;
    }

    @include light {
        color: $black-main;
        background-color: $grey2;
    }

    @include dark {
        color: $grey-main;
        background-color: $background-dark;
    }
}

.form__label-tel {
    padding-bottom: 11px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: $yellow-main;
}

.form__input-tel {
    -webkit-appearance: none;
    margin-bottom: 39px;
    border: 1px solid $grey5;
    border-radius: 40px;
    padding: 11px 27px 12px;
    font-size: 18px;
    line-height: 30px;

    &::placeholder {
        font-style: italic;
		font-size: 18px;
        line-height: 30px;
		color: $grey5;
	}

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 0 1px $grey5;
    }

    @include light {
        color: $black-main;
        background-color: $grey2;
    }

    @include dark {
        color: $grey-main;
        background-color: $background-dark;
    }
}

.form__label-text {
    padding-bottom: 11px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: $yellow-main;
}

.form__textarea-text {
    -webkit-appearance: none;
    border: 1px solid $grey5;
    border-radius: 10px;
    padding: 11px 27px 12px;
    font-size: 18px;
    line-height: 30px;
    color: $black-main;
    background-color: $grey2;
    resize: none;

    &::placeholder {
        font-style: italic;
		font-size: 18px;
        line-height: 30px;
		color: $grey5;
	}

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 0 1px $grey5;
    }

    @include light {
        color: $black-main;
        background-color: $grey2;
    }

    @include dark {
        color: $grey-main;
        background-color: $background-dark;
    }
}

.is-invalid {
    box-shadow: 0 0 0 1px $error-color;
}

.is-label-invalid {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    color: $error-color;

    @include _1440 {
        padding-bottom: vw1440(20);
    }

    @include _768 {
        padding-bottom: vw2(20);
    }

    @include _375 {
        padding-bottom: vmin(20);
    }
}

/* form-end */

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
	height: 1px !important;
	clip: rect(1px 1px 1px 1px);
}

@import "./sсss-components/header";
@import "./sсss-components/hero";
@import "./sсss-components/services";
@import "./sсss-components/benefits";
@import "./sсss-components/portfolio";
@import "./sсss-components/scheme";
@import "./sсss-components/banner";
@import "./sсss-components/reviews";
@import "./sсss-components/mobile-banner";
@import "./sсss-components/contacts";
@import "./sсss-components/footer";
@import "./sсss-components/modal";
@import "./sсss-components/designer";
@import "media";